@source "../../../../packages/components";
@source "../../node_modules/@blocknote/shadcn";

@import "@linkyboard/tailwind-config";
@import "@xyflow/react/dist/style.css";
@plugin "@tailwindcss/typography";

/* 스티커 연결점 */
div.customHandle {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  border: 2px solid var(--primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* hover 시 연결점 표시 */
.group:hover .customHandle {
  opacity: 1;
}

/* Tiptap 에디터 */
.ProseMirror {
  height: 100%;
  overflow-y: auto;
}

.tiptap {
  padding: 0;
}

/* BlockNote 에디터 */
.bn-editor {
  padding: 0 !important;
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  outline: none !important;
}

.bn-toggle-button,
.bn-toggle-add-block-button {
  &:hover {
    background-color: var(--secondary) !important;
  }
}

.node-toggleListItem:has(+ .bn-block-group) svg {
  fill: var(--foreground);
}

@utility bg-glass {
  background-color: transparent;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 60px;
}

@utility bg-radial-gradient-blue {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #c0d9ff 0%,
    rgba(192, 217, 255, 0.8) 46.63%,
    rgba(192, 217, 255, 0) 100%
  );
}

@utility bg-radial-gradient-purple {
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(225, 217, 253, 0.8) 0%,
    rgba(225, 217, 253, 0.8) 46.63%,
    rgba(225, 216, 255, 0) 100%
  );
}

@utility bg-radial-gradient-duo {
  background:
    radial-gradient(
      50% 50% at 50% 50%,
      #ccbeff 0%,
      rgba(204, 190, 255, 0.8) 46.63%,
      rgba(225, 216, 255, 0) 100%
    ),
    radial-gradient(
      55.95% 57.37% at 29.97% 32%,
      rgba(163, 137, 255, 0.7) 0%,
      rgba(163, 137, 255, 0.35) 38.72%,
      rgba(255, 0, 4, 0.5) 100%
    );
  filter: blur(120px);
  opacity: 0.9;
}

@utility triangle {
  background-color: rgba(0, 0, 0, 0.55);
  width: 20px;
  height: 12px;
  clip-path: polygon(45% 0%, 55% 0%, 100% 100%, 0% 100%);
}
