@source "../../../../packages/components";
@source "../../node_modules/@blocknote/shadcn";

@import "@linkyboard/tailwind-config";
@import "@xyflow/react/dist/style.css";
@plugin "@tailwindcss/typography";

/* 스티커 연결점 */
div.customHandle {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  border: 2px solid var(--primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* hover 시 연결점 표시 */
.group:hover .customHandle {
  opacity: 1;
}

/* Tiptap 에디터 */
.ProseMirror {
  height: 100%;
  overflow-y: auto;
}

.tiptap {
  padding: 0;
}

/* BlockNote 에디터 */
.bn-editor {
  padding: 0 !important;
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  outline: none !important;
}

.bn-toggle-button,
.bn-toggle-add-block-button {
  &:hover {
    background-color: var(--secondary) !important;
  }
}

.node-toggleListItem:has(+ .bn-block-group) svg {
  fill: var(--foreground);
}

@utility bg-glass {
  background-color: transparent;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 60px;
}
